<%= form_with(model: articale, local: true, html: { multipart: true }) do |form| %>
  <% if articale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articale.errors.count, "error") %> prohibited this articale from being saved:</h2>
      <ul>
        <% articale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
    <% if articale.image.present? %>
      <p>Current image:</p>
      <%= image_tag articale.image.url, width: 100 %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
