<h1><%= @articale.title %></h1>

<p><%= @articale.body %></p>

<% if @articale.image.present? %>
  <%= image_tag @articale.image.url %>
<% end %>


<p><strong>Published:</strong> <%= @articale.published ? "Yes" : "No" %></p>

<%= link_to 'Edit', edit_articale_path(@articale) if @articale.user == current_user %> |
<%= link_to 'Back', articales_path %>
<%= button_to "Delete", @articale, method: :delete, data: { turbo_confirm: "Are you sure?" } if @articale.user == current_user  %>
<%= button_to 'Report Article', report_articale_path(@articale), method: :patch, data: { turbo_confirm: "Are you sure you want to report this article?" }, class: "btn btn-danger" if @articale.user != current_user%>

